{% load static from staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/hover.css/2.1.1/css/hover-min.css" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Parisienne" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet"> 
    {% block head_js %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    {% endblock head_js %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css" />
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <title>PCHS Swimming and Diving</title>
</head>
<body>
    <nav class="navbar navbar-masthead navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>


                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-default">
                    <a href="{% url 'home' %}"><span class="circle"><img alt="PC Logo" src="{% static 'images/logo.png' %}"></span></a>
                    <li><a href="{% url 'get_posts' %}" class = 'page-scroll'>ALUMNI</a></li>
                    <li><a href="{% url 'get_posts' %}" class = 'page-scroll'>DISCUSSION</a></li>
                    <li><a href="{% url 'get_events' %}" class = 'page-scroll'>EVENTS</a></li>
                    <li><a href="{% url 'get_products' %}" class = 'page-scroll'>SHOP</a></li>
                    {% if user.is_authenticated %}
                    <li><a href="{% url 'profile' %}"><i class = 'fa fa-user-circle'></i> WELCOME, {{user}}.</a></li>
                    <li><a href="{% url 'logout' %}"><i class="fa fa-sign-out"></i> LOGOUT</a></li>
                    {% else %}
                    <li><a href="{% url 'login' %}">LOGIN</a></li>
                    <li><a href="{% url 'register' %}">REGISTER</a></li>
                    {% endif %}
                </ul>
                </div>
            </div>
        </nav>
    <div class="content">
{% if messages %}
        <div class="alert alert-success">
            <div class="messages">
                {% for message in messages %}
                    {{ message }}
                {% endfor %}
            </div>
        </div>
{% endif %}


        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="panel">
                        <div class="panel-body">
                            <!--blogpost entries-->
                            {% block content %} {% endblock %}
                            <!--blogpost entries-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
       
       
       <footer>
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <p>Portage Central Swimming & Diving</p>
                    </div>
                <div class="col-sm-4">
                    <p class ='mustang'>"It's a great day to be a Mustang!"</p>
                </div>
                <div class="col-sm-4">
                    <p class = 'payment'>
                    <i class="fa fa-cc-mastercard"></i>
                    <i class="fa fa-cc-visa"></i>
                    <i class="fa fa-cc-discover"></i>
                    <i class="fa fa-cc-amex"></i></p>
                    <p>Processed by <i class="fab fa-stripe"></i></p>
                </div>
            </div>
            
        </div>
    </footer>
    <script type="text/javascript" src="https://code.jquery.com/jquery.min.js"></script>
</body>

</html>
