{% load static from staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'images/favicon.ico' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}"> {% block head_js %}
    <script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
    {% endblock head_js %}
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/base.css' %}" type="text/css" />
    <title>PCHS Swimming and Diving</title>
</head>

<body onload=loadModal()>
    <nav class="navbar navbar-masthead navbar-default navbar-fixed-top">
        <a href="{% url 'home' %}"><img src="{% static 'images/new_logo.png' %}" class='logo'></img></a>
        <div class="container navbar-container">
            <div class="navbar-header">
                <button id='scroll-button' type="button" class="navbar-toggle collapsed " data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    {% if user.alumni or user.is_superuser %}
                    <li><a id='links' href="{% url 'get_alum_posts' %}">Alumni</a></li>
                    {% endif %}
                    <li><a id='links' href="{% url 'get_events' %}">Events</a></li>
                    {% if user.swimmer or user.is_superuser %}
                    <li><a id='links' href="{% url 'get_posts' %}">Discussion</a></li>
                    <li><a id='links' href="{% url 'get_products' %}">Shop</a></li>
                    {% endif %} 
                    {% if user.is_authenticated %}
                    <li><a id='links' href="{% url 'logout' %}">Logout</a></li>
                    {% endif %}
                    <br>
                </ul>

            </div>
        </div>
    </nav>

    <div class="col-xs-hidden col-sm-hidden col-md-12 form_only">
        {% block content %}

        {% endblock content %}
    </div>
    <br><br><br><br><br>
    <footer>
        <div class="container">
            <div class="row footer">
                <div class="col-xs-12 col-sm-12 hidden-md hidden-lg">
                    <img src="{% static 'images/swimmer.png' %}" class='swimmer'></img>
                </div>
                <div class="row footer">
                    <div class="col-xs-hidden col-sm-4 col-md-6 col-lg-6 blue-side">
                        <p>PORTAGE CENTRAL SWIMMING AND DIVING</p>
                        <p>PORTAGE, MI</p>
                        <br>
                    </div>
                    <div class="col-xs-hidden col-sm-4">
                    </div>
                    <div class="col-xs-hidden col-sm-4 col-md-6 col-lg-6">
                        <p class='payment-icons'>
                            <i class="fab fa-cc-visa fa-2x"></i>
                            <i class="fab fa-cc-mastercard fa-2x"></i>
                            <i class="fab fa-cc-discover fa-2x"></i>
                            <i class="fab fa-cc-amex fa-2x"></i></p>
                        <p><i class="fab fa-stripe fa-3x pay-icon"></i></p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <script>
        $(document).on('click', '.navbar-collapse.in', function(e) {
            if ($(e.target).is('a')) {
                $(this).collapse('hide');
            }
        });
    </script>
</body>

</html>
