{% load static from staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'images/favicon.ico' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
    <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/landing.css' %}">
    <title>PCHS Swimming and Diving</title>
</head>

<body>
    <div class="background">
        <div class="content">
            <div class="jumbotron">
                <nav class="navbar navbar-masthead navbar-default navbar-fixed-top">
                    <img src="{% static 'images/new_logo.png' %}" class='logo'></img>
                    <div class="container" style="text-align: right;
    margin-right: 1%;
    margin-top: 1%;">
                        <div class="navbar-header">
                            <button id='scroll-button' type="button" class="navbar-toggle collapsed " data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>


                        </div>
                        <div id="navbar" class="navbar-collapse collapse">
                            <ul class="nav navbar-nav navbar-right">
                                <li><a id='links' href="{% url 'get_events' %}">Events</a></li>
                            </ul>

                        </div>
                    </div>
                </nav>

                <div class="container">
                    <div class="col-xs-hidden col-sm-hidden col-md-4 title">
                        <h1 id='school' class="display-4">Portage Central</h1>
                        <p class='lead'>Swimming & Diving</p>
                        <br>
                        <p class="lead">
                            <a class="btn btn-default btn-sm sign" href="{% url 'login' %}" role="button">Sign In</a>
                        </p>
                    </div>
                    <div id='big-logo' class="col-xs-hidden col-sm-hidden col-md-4">
                        <img src="{% static 'images/new_logo.png' %}" class='big-pc'></img>
                    </div>
                    <div class="col-xs-hidden col-sm-hidden col-md-4"></div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
