{% extends "home/base.html" %}
{% load bootstrap_tags %}

{% block content %}
    <br><br><br><br><br><br><br>
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <div class="container login">
            <h3 class='heading'>Reset Password</h3>
        
            <form method="post" class="accountform">
                <p id='respond'>Please specify your email address to receive instructions for resetting it.</p>
                <br>
                <div style="display:none">
                    <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
                </div>
                 {{ form.email.errors }}
                <p>{{ form | as_bootstrap }} <input type="submit" class='btn btn-lg btn-default login-btn adjust' value="Reset password" /></p>
            </form>
        </div>
    </div>
{% endblock %}