{% autoescape off %}
{% load static from staticfiles %}
Hi {{ user.username }},

Thank you for your purchase through {{ site_name }}!

<table class="table">
    <thead>
        <tr>
            <th></th>    
            <th>Product</th>    
            <th>Quantity</th>    
            <th>Price</th>
            <th>Total</th> 
        </tr>
    </thead>
    <tbody>
        {% for p in cart %}
        <tr>
            <td><img width="150" height="75" src="{{MEDIA_URL}}{{p.image}}"/></td>    
            <td>{{ p.product }}</td>    
            <td>{{ p.quantity}}</td>    
            <td>${{ p.price }} ea</td>
            <td>Total: ${{ p.total}}</td>
        </tr>
        {% endfor %}
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td><strong>Sub-Total:</strong></td>
            <td><strong>${{totals}}</strong></td>
        </tr>
    </tbody>
</table>

<h3>Thanks supporting Portage Central Swimming and Diving! Be sure to check out the website for upcoming events!</h3>

<h4>It's a great day to be a mustang!</h4>

<img src="{% static 'images/standard_logo.png' %}" alt='PC Logo'>

{% endautoescape %}