/*-----BASE STYLING------*/

html,
body {
    font-family: 'Noto Sans', sans-serif;
    background: #fafafa;
}

p {
    font-size: 20px;
}

li {
    font-size: 20px;
}

@media (min-width: 768px) {
    .container {
        width: auto;
    }

}

/*NAVBAR*/

.navbar {
    background: #062E82;
    border-color: #062E82;
    letter-spacing: 7px;
    text-transform: uppercase;
    z-index: 2;
}

.logo {
    margin-left: 10px;
    margin-top: 10px;
    height: 130px;
    width: 135px;
}

.navbar .navbar-collapse {
    text-align: right;
    border-top: 0px solid transparent;
    overflow-x: hidden;
}

.navbar-default .navbar-toggle {
    background-color: transparent;
}

#links {
    color: #fafafa;
}

#links:hover {
    color: #FFD236;
}

#scroll-button {
    margin-top: -88px;
}

.form_only {
    z-index: 1;
}

.navbar-container {
    text-align: right;
    margin-right: 1%;
    margin-top: 1%;
}

@media (max-width: 5000px) {
    .navbar-header {
        float: none;
    }
    .navbar-left,
    .navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in {
        display: block !important;
    }
}

/*FORMS*/

.form-control:focus {
    background-color: transparent !important;
    color: #333 !important;
}

.form-control {
    color: #333;
    border: 3px groove #fafafa;
    display: block;
    width: 100%;
    height: 49px;
    padding: 6px 12px;
    font-size: 14px;
    border-radius: 0px;
    background-color: transparent !important;
}

.form-view {
    z-index: 3;
}

.login {
    width: auto;
    top: 25%;
    padding-left: 15px;
    left: 25%;

}

.center {
    position: relative;
    width: auto;
    left: auto;
    left: 0%;
}

.login h3 {
    font-size: 36px;
    text-transform: uppercase;
    letter-spacing: 7px;
    font-weight: 800;
    padding-bottom: 15px;
}

label {
    display: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:active,
input:-webkit-autofill:focus {
    background-color: #062E82 !important;
    color: #424242 !important;
    -webkit-box-shadow: 0 0 0 1000px #fafafa inset !important;
    -webkit-text-fill-color: #424242 !important;
}

/*BUTTONS*/

.login-btn {
    background-color: #FFD236;
    border-color: #FFD236;
    color: #fafafa;
    width: -webkit-fill-available;
    text-transform: uppercase;
    letter-spacing: 4px;
    margin-top: 10px;
    margin-bottom: 15px;
    font-weight: bold;
    border-radius: 0px;
    box-shadow: 0px 0px 25px #dcdcdc;
    transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
}

.login-btn:hover {
    background-color: #002865;
    border-color: #002865;
    color: #fafafa;
    cursor: pointer;
}

.new-post {
    color: #fafafa;
    width: 200px;
    /*padding-left: 0px;*/
}

.buy {
    width: 100px;
    margin-top: 27px;
    /*padding-left: 10px;*/
    /*margin-left: 5px;*/
    box-shadow: 0px 0px 10px #d3d3d3;
}

.dropdown-toggle {
    width: 145px;
}

.responsive {
    width: -webkit-fill-available;
}

/*LINKS*/

p a {
    text-decoration: none;
    color: #062E82;
    padding-top: 10px;
    padding-left: 0px;
    font-size: 16px;
}

p a:hover {
    text-decoration: none;
    color: #FFD236;
}

/*EVENTS*/

.heading {
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 36px;
    color: #212121;
}

.panel-body {
    width: auto;
    box-shadow: 2px 2px 10px #d3d3d3;
    background: #fcfcfc;
}

.meet {
    margin-top: 0px;
    margin-bottom: 6px;
    font-size: 22px;
}

.location {
    color: #212121;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bolder;
}

.day {
    color: #212121;
    font-size: 24px
}

.notes {
    margin-bottom: 0px;
    font-size: 16px;
}

.time {
    color: #212121;
    font-size: 23px;
    text-align: center;
    text-transform: uppercase;
}

#document {
    padding: 10px;
    text-align: center;
}

#document:hover {
    text-decoration: none;
}


/*PRODUCTS*/

.items {
    text-align: center;
}

.product-name {
    text-transform: uppercase;
    color: #212121;
    font-weight: bolder;
}

.product-image {
    width: 125px;
    height: 95px;
}

/*DETAILS - PRODUCTS*/

.product-detail-panel {
    text-align: center;
}

.img-prod {
    height: 100px;
    width: 150px;
}

.product-name-detail {
    font-size: 32px;
    text-transform: uppercase;
    font-weight: 900;
    padding-top: 10px;
    letter-spacing: 4px;
}

.detail {
    width: auto;
    height: auto;
    margin-top: 70px;
    color: #212121;
    position: relative;
}

.description {
    font-size: 16px;
    text-align: left;
}

h5 {
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 600;
    text-align: left;
}

#price {
    color: #212121;
    font-size: 36px;
    margin-top: -10px;
    margin-bottom: -20px;
    font-weight: 900;
    text-align: center;
}

#id_notes {
    width: 79%;
    position: relative;
    left: 10%;
}

/*DETAILS - POSTS/ALUMNI*/

.post-title {
    font-size: 36px;
    font-weight: 900;
}

.post-content {
    font-size: 16px;
}

#delete {
    display: block;
    padding: 3px 20px;
    color: #062E82;
    border: none;
    background-color: #fff;
    font-size: 18px;

}

#delete:hover {
    text-decoration: none;
    color: #FFD236;
    background-color: #f2f2f2;
}

#post_links {
    color: #062E82;
    font-size: 18px;
}

.alumni-photo {
    height: auto;
}

/*CHECKOUT*/

legend {
    font-size: 36px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 35px;
}

.checkout-view {
    padding: 30px;
}

ul {
    list-style: none;
    padding-left: 0px;
}

/*FOOTER*/

footer {
    text-align: center;
    background-color: transparent !important;
    color: #333;
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    z-index: 0;

}

.footer {
    margin-left: 0px;
    margin-right: 0px;
}

.swimmer {
    width: 63%;
    left: 21%;
}

/*MODALS*/

.modal-backdrop {
    position: relative;
}

/*DESKTOP*/

@media (min-width: 990px) {
    html,
    body {
        background: linear-gradient(90deg, #062E82 50%, #fafafa 50%);
    }
    .navbar {
        background: transparent;
        border-color: transparent;
    }
    #scroll-button {
        margin-top: -110px;
    }
    #links {
        color: #062E82;
    }
    .swimmer {
        left: 50%;
        position: fixed;
        top: 25%;
        width: 50%;
    }
    #respond {
        color: #fafafa;
    }
    #respond a {
        color: #FFD236;
    }
    .heading {
        color: #fafafa;
    }
    .panel-body {
        box-shadow: 2px 2px 10px #212121;
    }
    .posts {
        padding-left: 0px;
    }
    .detail {
        padding-right: 0px;
    }

    /*FORMS*/
    .form-control {
        color: #fafafa;

    }
    .form-control:focus {
        color: #fafafa !important;
    }
    #id_content,
    #id_notes,
    #payment-form {
        background-color: #fafafa !important;
        color: #424242 !important;
    }

    #id_content,
    #id_notes,
    #payment-form:focus {
        background-color: #fafafa !important;
        color: #424242 !important;
    }
    #id_notes {
        width: 80%;
    }
    .form-control-override {
        background-color: #fafafa !important;
        color: #424242 !important;
    }
    .form-control-override:focus {
        background-color: #fafafa !important;
        color: #424242 !important;
    }

    /*DETAIL*/
    #products-main {
        box-shadow: 2px 2px 10px #d3d3d3;
    }
    .img-prod {
        height: 200px;
        width: 250px;
    }
    .quick-photo-view {
        padding-left: 0px;
    }

    /*BUTTONS*/
    #document,
    .login-btn,
    .responsive {
        box-shadow: 2px 2px 10px #212121;
    }
    .buy {
        box-shadow: 2px 2px 10px #d3d3d3;
    }


    /*FOOTER*/
    footer {
        margin-top: 85%;
    }
    .blue-side {
        color: #fafafa;
    }
}
