body {
  background-color: #FAFAFA;
  font-family: 'Open Sans', sans-serif;
}

.navbar-default {
  background-color: #000F2D;
  border-color: #000F2d;
}

.navbar-default .navbar-nav li a {
  color: #fafafa;
}

.navbar-default .navbar-nav li a:hover {
  color: #FFD300;
}

@media (min-width: 840px) {
.navbar-collapse.collapse {
    
}
}

.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}

.navbar .navbar-collapse {
  text-align: center;
  color: #fafafa;
}

@media (min-width: 839px) {
  .navbar-header {
    float: left;
  }
}

@media (min-width: 840px) {
  .navbar-toggle {
    display: none;
  }
}

@media (min-width: 790px) {
  .navbar-fixed-bottom .navbar-collapse,
  .navbar-fixed-top .navbar-collapse,
  .navbar-static-top .navbar-collapse {
    padding-right: 0;
    padding-left: 0;
  }
}

@media (min-width: 839px) {
  .container-fluid .navbar-collapse,
  .container-fluid .navbar-header,
  .container.navbar-collapse,
  .container .navbar-header {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (min-width: 840px) {
  .navbar-collapse.collapse {
    display: block!important;
    height: auto!important;
    padding-top: 5px;
    padding-bottom: 5px;
    overflow: visible!important;
  }
}

a img {
  float: left;
  height: 60px;
  margin-top: 8px;
  position: absolute;
  right: 90vw;
  width: 60px;
  vertical-align: top;
}

@media (min-width: 768px) {
  .navbar-nav li a {
    padding-top: 25px;
  }
}

.nav li a {
  padding: 25px;
}

footer {
  background-color: #000F2D;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: #fafafa;
  text-align: left;
  text-align: center;
  font-size: 14px;
  padding-top: 10px
}

.mustang {
  font-family: 'Parisienne', cursive;
  font-size: 22px;
}

.payment {
  /*font-size: 22px;*/
}

.payment i {
  padding-left: 5px;
  padding-right: 5px;
}

.payment i:hover {
  color: #000F2D;
}
.pay {
  /*font-size: 30px;*/
  
}

/*------------------EVENTS--------------*/

.carousel-control.left,
.carousel-control.right {
  background-image: none !important;
  filter: none !important;
}

.carousel-control.left:hover,
.carousel-control.right:hover {
  color: #666;
}

.carousel-content {
  text-align: center;
  justify-content: center;
  align-items: center;

}

.carousel {
  background-image: url('../images/events.jpg');
  background-position: center;
  height: 50vh;
  width: 100vw;
  z-index: 1;
}

.carouselcard {
  height: 100%;
}



.card {
  color: #000F2D;
  background-color: #FAFAFA;
  text-align: center;
  width: 15em;
  height: 15em;
  top: 50%;
  left: 50%;
  margin: 25% auto;
  padding: 15px;
  padding-top: 25px;
  align-items: center;
  z-index: 2;
  display: block;
  top: 50%;
  left: 50%;
}

/*.card-title, .card-text {*/

/*  top: 50px;*/

/*  z-index: 3;*/

/*}*/

/*------------PRODUCTS-------------*/

.card:hover {
  -moz-box-shadow: 0 0 10px #ccc;
  -webkit-box-shadow: 0 0 10px #ccc;
  box-shadow: 0 0 10px #ccc;
}

.try {
  position: relative;
  width: 50%;
  border-radius: 5%;
}

.try img {
  width: 100%;
  height: auto;
  border-radius: 5%;
}


.try .prod {
  position: absolute;
  top: 60%;
  left: 30%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #fafafa;
  font-size: 16px;
  border: none;
}

.try .prod a i {
  color: #040E47;
}

.try .prod a:hover {
  text-decoration: none;
}

.try .prod a i:hover {
  color: #040E47;
}

.try .cart {
  position: absolute;
  top: 60%;
  left: 70%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #fafafa;
  text-decoration: none;
  font-size: 16px;
  border: none;
}

.try .cart i {
  color: #040E47;
}

.try .cart a {
  color: #040E47;
}

.try .cart a:hover {
  color: #040E47;
  text-decoration: none;
}

.try .btn-sm:hover {
  background-color: #fafafa;
  color: #000F2D;
  text-decoration: none;
}

.try:hover .img-hover {
  opacity: 1;
  color: #fafafa;
  padding-top: 5px;
  text-align: center;
  transition: .5s ease-out;

}

.img-hover {
  transition: .5s ease-in;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  background-color: #000F2D;
  border-radius: 5%;

}

.cart {
  background-color: #000F2D;
  color: #fafafa;
}

.cart:hover {
  color: #fafafa;
}

.prod {
  color: #000F2D;
}

.prod:hover {
  color: #000F2D;

}

* .cart-go {
  color: #000F2D;
  text-align: right;

}

/*---------------------Product Details---------------------*/

.img-prod {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/*----------------------Jumbotron------------------------*/
.jumbotron {
  background-image: url('../images/swimgradient.png');
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: 1;
  color: #fafafa;
  padding-bottom: 60px;
  margin-bottom: 0px;
}
