body,
html {
    height: 100%;
}

.background {
    /*background-image: url('../images/background.jpg');*/
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
    
    position: relative;
}
#blurred {
    filter: blur(2px);
}
.content {
    background: none;
    left: 0;
    right: 0;
    top: 15%;
    margin-left: 20px;
    margin-right: 20px;
    text-decoration: none;
    opacity: 1;
    position: absolute;
    z-index: 2;
}

a h1 {
    color: #fafafa;
    font-family: 'Quicksand', sans-serif;
    font-size: 8vw;
    padding: 20px;
    text-decoration: none;
    transition-duration: 0.5s;
}

a:hover {
    text-decoration: none;
}

a h1:hover {
    color: #fafafa;
    font-family: 'Quicksand', sans-serif;
    font-size: 11vw;
    text-decoration: none;
    transition-duration: 0.5s;
}
