{% extends 'home/base.html' %}
{% load static from staticfiles %}

{% block content %}
<br>
<br>
<br>
<br>

{% if messages %}
        <br>
        <br>
        <br>
        <div class="alert alert-success">
            <div class="messages">
                    
                    {% for message in messages %} {{ message }} {% endfor %}
            </div>
        </div>
    {% endif %}
    
<div class="col-xs-hidden col-sm-hidden col-md-6 col-lg-6">
    <br>
    <br>
    <div class="container posts">
    <br>
    <br>
    <br>
        <a href="{% url 'new_alum_post' %}" class ='btn btn-lg login-btn new-post responsive'> <i class ='fa fa-plus'></i> New Post</a>
    <br>
    <br>
    
        <h3 class='heading'>Alumni</h3>
        <br>
        <br>
        {% for alum_post in alum_posts %}
        <div class="panel-body post-panels">
            <br>
            <h3 class = 'blog-title'>{{ alum_post.title }}</h3>
            <br>
            <p class='blog-content'>{{ alum_post.content|truncatewords:20 }}</p>
            <p class ='info'><span class="boldtext">Published on:</span> {{ alum_post.published_date }} </p>
            <p><a href="{% url 'alum_post_detail' alum_post.id %}"  class="btn btn-md login-btn new-post buy" style='width: auto;'>Read more</a></p>
        </div>
        <br>
        <br>
{% endfor %}
        <br>
    </div>
</div>
<div class="hidden-xs hidden-sm col-md-6">
        <img src="{% static 'images/swimmer.png' %}" class='swimmer'></img>
    </div>
{% endblock content %}