{% extends 'home/base.html' %}
{% load bootstrap_tags %}
{% load static from staticfiles %}
{% block content %}
<br><br><br>
<br><br><br><br>
<div class="col-xs-8 col-sm-8 col-md-6 col-lg-6">
<div class="container login">
    <h3 class = 'heading' >Login</h3>
    <form method='POST' class='form' id='form'>
    {% csrf_token %}
   
       {{form | as_bootstrap }}
   
        <input type="submit" value="Login" class='btn btn-lg btn-default login-btn adjust'/>
    <br>
        <p><a href="{% url 'password_reset' %}">Forgot Your Password?</a></p>
        <p><a href="{% url 'register' %}">Don't Have An Account Yet?</a></p>
    </form>
</div>
</div>
{% endblock content %}