{% extends "home/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Confirm E-mail Address" %}{% endblock %}


{% block content %}

<br><br><br>
<br><br><br><br>

<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
    <div class="container login">

        {% if confirmation %}
        {% user_display confirmation.email_address.user as user_display %}

        <h3 class='heading'>{% trans "Confirm E-mail Address" %}</h3>
        <p id='respond' style='font-size: 16px;'>
        {% blocktrans with confirmation.email_address.email as email %}Please confirm that <a href="mailto:{{ email }}">{{ email }}</a> is an e-mail address for user {{ user_display }}.{% endblocktrans %}
        </p>
        <form method="post" action="{% url 'account_confirm_email' confirmation.key %}">
            {% csrf_token %}
            <button type="submit" class='btn btn-lg btn-default login-btn adjust'>{% trans 'Confirm' %}</button>
        </form>

        {% else %}

        {% url 'account_email' as email_url %}

        <p id="respond">{% blocktrans %}This e-mail confirmation link expired or is invalid. Please <a href="{{ email_url }}">issue a new e-mail confirmation request</a>.{% endblocktrans %}</p>

        {% endif %}

    </div>
    <br><br>
</div>

{% include 'includes/_swimmer_image.html' %}

{% endblock %}
