{% extends 'products/products.html' %}
{% load static from staticfiles %}
{% load bootstrap_tags %}
{% block content %}
<style>
  .swimmer {
      display: none;
  }
  
</style>

<div class="col-xs-hidden col-sm-hidden col-md-6 col-lg-6 include-content">
 {% include 'products/products.html' %}
</div>

<div class="col-xs-hidden col-sm-hidden col-md-6 col-lg-6">
     <br><br><br>
 <div class="container detail">
  <br>
  <br>
  <a href="{% url 'view_cart' %}" class="btn btn-lg login-btn new-post responsive" style='padding: 10px 16px;'>Cart</a>
  <br class='responsive'>
        <br class='responsive'>
        <br class='responsive'>
  
  <div id = 'products-main' class="panel-body">
   <br>
   <div class="row">
    <div class="col-xs-hidden col-sm-8 col-md-8">
    
     <img class="img-prod" src="{{MEDIA_URL}}{{product.image}}">
    </div>
  
   <div class="col-xs-hidden col-sm-4 col-md-4">
    <div class="row product-row">
     <h5 id='price' style='margin-top: 7px;'>${{product.price}}</h5>
    </div>
    <div class="row product-row">
      <form action='{% url "cart" %}' method="POST">
       
         {% csrf_token %}
         
       <input type="hidden" name="product_id" value="{{ product.id }}"/>
        <button type="submit" class="btn btn-md login-btn new-post buy" style='margin-top: 40px;'>Buy</button>
      </form>
    </div>
  </div>
 </div>
  <div class="row">
   <h3 class='product-name-detail'>{{ product.name }}</h3>
  </div>
   <hr>
      
   <h5>Product Description</h5>
   <p class='description'>{{product.description}}</p>
  </div>
  <br>
  <br>
 </div>
</div>
{% endblock %}