{% extends 'home/base.html' %}
{% load static from staticfiles %}
{% load bootstrap_tags %}
{% block content %}

<div class="container">
<a href="{% url 'view_cart' %}"><i class="fa fa-shopping-cart"></i> Cart</a>



{% for product in products %}

<h2>{{product.name}}</h2>

<div class="container try">
 
  <img src="{{MEDIA_URL}}{{product.image}}" height = '100px' class = 'image' width ='100px' height="100px" alt="{{product.name}}">
 
  <div class="img-hover">
 
  <button class="btn"><a href="{% url 'product_detail' product.id %}" >More Detail
  
   </a></button>
   </div>
</div>

<p>{{product.description}}</p>

<p>${{product.price}}</p>

<br>

<form action='{% url "cart" %}' method="POST">
         {% csrf_token %}
        <input type="hidden" name="product_id" value="{{ product.id }}"/>
         <button type="submit" class="btn-sm btn-info">Add to Cart</button>
</form>
 
 
{% endfor %}
</div>
{% endblock content %}