{% extends 'home/base.html' %}
{% load bootstrap_tags %}

{% block content %}
<style>
  .swimmer {
      display: none;
  }
  .posts {
      display: none;
  }
  .form-hidden {
      display: none;
  }
  .form_only {
      height: inherit;
  }
</style>
@media (max-width: 990px) {
    .detail-content {
        display: none;
    }
}

</style>

<div class="col-xs-4 col-sm-8 col-md-6 col-lg-6">
    <div class="container login" id='post-container' >
        <br><br><br><br>
        <br><br><br><br>
        <a href="{% url 'get_posts' %}" class ='btn btn-md login-btn new-post'> Back </a>
        <br>
        <h3 class='heading'>Comment</h3>
    
        
        <form method="POST" enctype="multipart/form-data" class='post-form' id='form'>
            {% csrf_token %}
            {{ form | as_bootstrap }}
            <button type="submit" id= 'post-btn' class='btn btn-lg btn-default login-btn'>Post</button>
        </form>
        <br>
    </div>
    <br>
</div>

<div class="container">
<div class="col-xs-4 col-sm-8 col-md-1 col-lg-1">
    
    {% include 'posts/postdetail.html' %}
    
</div>
<br><br><br>
</div>
{% endblock %}