{% extends 'home/base.html' %}
{% load bootstrap_tags %}
{% block content %}
    

    <div class="col-xs-hidden col-sm-hidden col-md-6 col-lg-6 form-view">
        <div class="container login"  >
            <br><br><br><br>
            <br><br><br><br>
            <a href="{% url 'get_posts' %}" class ='btn btn-lg login-btn new-post responsive'> Back </a>
            <br>
            <h3 class='heading'>Comment</h3>
            <br>
            
            <form method="POST" enctype="multipart/form-data" class='post-form' id='form'>
                {% csrf_token %}
                {{ form | as_bootstrap }}
                <button type="submit" id= 'post-btn' class='btn btn-lg btn-default login-btn'>Post</button>
            </form>
            <br>
        </div>
        <br>
    </div>
    
    <div class="container">
        <div class="hidden-xs hidden-sm col-md-6 col-lg-6 detail-content">
        <div class="container detail">
        <br class='form-hidden'>
            <a href="{% url 'get_posts' %}" class="hidden-md hidden-lg btn btn-lg login-btn new-post responsive" style='padding: 10px 16px;'>Back</a>
                <br><br><br>
                <br>
            <div id = 'products-main' class="panel-body">
           
                <div class=" post-content">
                
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <p class='post-title' >{{ post.title }}</p>
                        <hr>
                        <p>By: {{post.owner.username}} at {{ post.published_date }}</p>
                        <p class='blog-content'>{{ post.content | linebreaksbr }}</p>
                        
                        <p class='info'>Views: {{post.views}}</p>
                        <br>
                        <p style='text-transform: uppercase; font-size: 18px;'>Comments:</p>
                        
                        {% for comment in post.comments.all %}
                            
                            <p class = 'comments'>{{ comment.owner }}: {{ comment.content }}</p>
                            
                            {% if user.is_authenticated and user == comment.owner or user.is_superuser %}
                            
                        <div class="btn-group">
                            <button type="button" class="btn btn-sm login-btn new-post buy dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">Comment<span class="caret"></span></button>
                                <ul class="dropdown-menu">
                                    <li><a id='post_links' href="{% url 'edit_comment' comment.id %}">Edit Comment</a></li>
                                    
                                    
                                    <form action = "{% url 'delete_comment' %}" method = "POST">
                            {% csrf_token %}
                            <input type="hidden" name="comment_id" value="{{ comment.id }}"/>
                            <input type="hidden" name="blogs_id" value="{{ post.id }}"/>
                            <li><input type="submit" id ='delete' value="Delete Comment"/></li>
                        </form>
                                    
                                </ul>
                        </div>
                        {% endif %}
                        
                        {% empty %}
                            
                            <p>No comments here yet</p>
                            
                        {% endfor %} 
                            <br>
                        <div class="btn-group">
                            <button type="button" class="btn btn-md login-btn new-post buy dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">Post<span class="caret"></span></button>
                                <ul class="dropdown-menu">
                                    <li><a id='post_links' href="{% url 'new_comment'  post.id %}" >Comment</a></li>
                                    
                                    {% if user.is_authenticated and user == post.owner or user.is_superuser %}
        
                                    <li><a id = 'post_links' href="{% url 'edit_post' post.id %}">Edit Post</a></li>
                                    
                                    <form action = "{% url 'delete_post' %}" method = "POST">
                                    {% csrf_token %}
                                        <input type="hidden" name="blogs_id" value="{{ post.id }}"/>
                                        <li id='post-links'><input type="submit" id ='delete' value="Delete Post"/></li>
                                    </form> 
            
                                    {% endif %}
         
                                </ul>
                                </div>
                            <br><br>
                            </div>
                        </div>
                    </div>
                </div>
                <br><br><br>
            </div>
        </div>
        <br><br><br>
    
    <!--INSTRUCTION MODAL-->
    <div class="modal fade" tabindex="-1" role="dialog" id='instructionModal'>
        <br><br><br>
        <div class="modal-dialog" role="document">
            <br><br><br>
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" style='text-align: right;' aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Post a Comment</h4>
                </div>
                <div class="modal-body">
                    <p class='header'>Comment Guidelines: </p>
                        <p>Feel free to comment on posts to offer help or feedback to the author. Please keep in mind that the community will be able to see what you write and who it belongs to, so be sure to think before you publish.</p>
                        
                    <div class="modal-footer">
                        <button class='btn btn-md login-btn new-post' data-dismiss="modal" style='box-shadow: 0px 0px 25px #d3d3d3'>Got it!</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
    function loadModal() {
    $('#instructionModal').modal('show');
        }
    </script>

{% endblock %}