{% extends 'home/base.html' %}
{% load bootstrap_tags %}

{% block content %}
<style>
  footer {
        display: none;
    }
    .swimmer {
        display: none;
    }
  .posts {
      display: none;
  }
  .form-hidden {
      display: none;
  }
  .form_only {
      height: inherit;
  }
  @media (max-width: 990px) {
    .detail-content {
        display: none;
    }
}
</style>
    



<div class="col-xs-4 col-sm-8 col-md-6 col-lg-6">
    <div class="container login"  >
        <br><br><br><br>
        <br><br><br><br>
        <a href="{% url 'get_posts' %}" class ='btn btn-md login-btn new-post'> Back </a>
        <br>
        <h3 class='heading'>Comment</h3>
    
        
        <form method="POST" enctype="multipart/form-data" class='post-form' id='form'>
            {% csrf_token %}
            {{ form | as_bootstrap }}
            <button type="submit" id= 'post-btn' class='btn btn-lg btn-default login-btn'>Post</button>
        </form>
        <br>
    </div>
    <br>
</div>

<div class="container">
<div class="col-xs-4 col-sm-8 col-md-1 col-lg-1">
    
    {% include 'posts/postdetail.html' %}
    
</div>
<br><br><br>
</div>
<img src onerror='loadModal()'>

<!--INSTRUCTION MODAL-->
<div class="modal fade" tabindex="-1" role="dialog" id='instructionModal'>
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" style='text-align: right;' aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Post a Comment</h4>
                </div>
                <div class="modal-body">
                    <p class='header'>Comment Guidelines: </p>
                    <p>Feel free to comment on posts to offer help or feedback to the author. Please keep in mind that the community will be able to see what you write and who it belongs to, so be sure to think before you publish.</p>
                    
                <div class="modal-footer">
                    <button class='btn btn-md login-btn new-post' data-dismiss="modal" style='box-shadow: 0px 0px 25px #d3d3d3'>Got it!</button>
                </div>
            </div>
        </div>
    </div>
</div>
    <script>
    function loadModal() {
    $('#instructionModal').modal('show');
        }
    </script>
{% endblock %}